html{
    font-family: john-doe, sans-serif;
    background-color: rgb(143, 170, 180);
}

h1{
    font-size: 42px;
    text-align: center;
    color: rgb(27, 44, 59);
}
h3{
    text-align: center;
    color: rgb(242, 248, 253);
}
p{
   
    text-align: center;
    font-size: 18px;
    color: rgb(27, 44, 59);
}

.hook{
    font-weight: 700;
    font-style: normal;
    text-decoration: line-through;
}
